body {
  background-color: #232323;
  color: white;
}

.heading-display {
  color: white;
  width: 30%;
  margin: 0 auto;
}

#rgb-color-display {
  text-transform: uppercase;
}

.tile-board {
  margin: 0 auto;
  max-width: 600px;
}

.tile {
  width: 30%;
  margin: 1.66%;
  float: left;
  border-radius: 5px;
  padding-bottom: 30%;
}
