body {
  background-color: #232323;
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
  padding: 1% 0;
  background-color: #587cb5;
}

.heading-display {
  text-align: center;
}

#rgb-color-display {
  text-transform: uppercase;
  display: block;
  font-size: 5rem;
}

#control-bar {
  margin: 0 auto;
  padding: 0 auto;
  color: black;
  background-color: white;
  text-align: center;
}

.tile-board {
  margin: 0 auto;
  max-width: 600px;
}

.tile {
  width: 30%;
  margin: 1.66%;
  float: left;
  border-radius: 30px;
  padding-bottom: 30%;
}

.selected {
  background-color: blue;
  color: white;
}
